h1{
    text-align: center;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(15px) contrast(0.2) brightness(1.7);
    z-index: -1;
}

.container {
    display: flex;
    justify-content: center;
}

.box{
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin:90px 0 40px 0;
    border-radius: 8px;
}
input{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
}

button{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 10px;
    margin: 20px 0 ;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    color: #ffffff;
}

button:hover {
    opacity: 0.7;
}

.return{
    text-align: center;
    font-size: 10px;
}